/*Remove margin and padding from all elements*/
* {
    margin: 0;
    padding: 0;
}

/*Place header on the left side of the page*/
.pageContainer {
    display: flex;
}

header {
    /*Separate header divs to control spacing*/
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 100px;
}

.mainContainer {
    /*mainContainer grows to fill remaining space*/
    flex: 1;

    /*Vertically align gameContainer and footer*/
    display: flex;
    flex-direction: column;
}

/*Background color for header and footer*/
header,
footer {
    background-color: rgb(126, 191, 238);
}

footer {
    /*Set footer height*/
    height: 100px;
}

.gameContainer {
    /*gameContainer grows to fill remaining space*/
    flex: 1;

    /*Turn gameContainer into a grid for game board*/
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}