/*Remove margin and padding from all elements*/
* {
    margin: 0;
    padding: 0;
}

/*Place header on the left side of the page*/
.pageContainer {
    display: flex;
}

header {
    /*Separate header divs to control spacing*/
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 200px;
}

.mainContainer {
    /*mainContainer grows to fill remaining space*/
    flex: 1;

    /*Vertically align gameContainer and footer*/
    display: flex;
    flex-direction: column;
}

/*Background color for header and footer*/
header,
footer,
.playerInfo {
    background-color: rgb(126, 191, 238);
}

footer {
    /*Set footer height*/
    height: 200px;
}

.boardAndPlayers {
    /*Display gameboard and player info side by side*/
    display: flex;
}

.playerInfo {
    /*playerInfo grows to fill remaining space*/
    flex: 1;
}
    
.gameContainer {
    /*Turn gameContainer into a grid for game board*/
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
}

.gameBoard {
    /*Set background for gameboard*/
    background-color: black;
}